{% extends 'base.html' %}
{% block head %}
<!--顶部-->
    <!--导航栏-->
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">火车票网络出售平台</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="modal" href="{% url 'userinfo' %}"><span class="glyphicon glyphicon-user"></span> {{ phone }}</a>
                </li>
                <li>
                    <a data-toggle="modal"  href="{% url 'home' %}" ><span class="glyphicon glyphicon-log-in"></span> 退出登录</a>
                </li>
                <li>
                    <a data-toggle="modal"  href="{% url 'order_search' %}" ><span class="glyphicon glyphicon-list-alt"></span> 订单查询</a>
                </li>
            </ul>
        </div>
    </nav>
<!--顶部-->
{% endblock %}

{% block body %}
<div class="container" style="margin-bottom: 535px">
    <h3 style="text-align: center">用户订单查询</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>用户状态</th>
            <th>用户名</th>
            <th>车次</th>
            <th>起始站点</th>
            <th>座位号</th>
            <th>发车时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ result }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ userinfo.ticket_num }} </td>
            <td>{{ userinfo.ticket_name }}</td>
            <td>{{ userinfo.ticket_seat_num }}</td>
            <td>{{ userinfo.ticket_time }}</td>
        </tr>
        </tbody>
    </table>
    <div align="center">
        <a class="btn btn-default btn-sm" href="{% url 'user_home' %}">返回首页</a>
        <a data-toggle="modal" data-target="#cancel_after" class="btn btn-default btn-sm"  >退订车票</a>
    </div>

</div>
<div id="cancel_after" class="modal fade">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-body">
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                <div class="text-right" >
                    <div align="center">
                        <a class="btn btn-danger" href="{% url 'order_cancel' %}" >确认退票</a>
                        <a class="btn btn-primary" data-dismiss="modal">取消操作</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}