<!--design by 周晨-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>跳转中</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" align="center">
    <p>{{ string }}还有<span id="sp">3</span>秒跳转到主页...</p>
    <a id="btn" class="btn btn-default btn-sm" href="{% url 'home' %}">跳转</a>
</div>

<script>
    onload=function () {
        setInterval(go,1000)
    };
    var x=2;
    function go() {

        if (x>=0){
            document.getElementById("sp").innerText=x;
        }else {
            document.getElementById("btn").click();
        }
        x--;
    }
</script>
</body>
</html>