{% extends 'base.html' %}

{% block stayle %}
    <link rel="stylesheet" href="../static/js/lib/JQuery/jquery-ui.css">
	<link rel="stylesheet" href="../static/js/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
	<link rel="stylesheet" href="../static/js/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
<style>
table th{
    text-align: center;
}
table td {
    text-align: center;
}
</style>
{% endblock %}

{% block head %}
<!--顶部-->
    <!--导航栏-->
    <nav class="navbar navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">火车票网络出售平台</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="modal" href="{% url 'userinfo' %}"><span class="glyphicon glyphicon-user"></span> {{ phone }}</a>
                </li>
                <li>
                    <a data-toggle="modal"  href="{% url 'home' %}" ><span class="glyphicon glyphicon-log-in"></span> 退出登录</a>
                </li>
                <li>
                    <a data-toggle="modal"  href="{% url 'order_search' %}" ><span class="glyphicon glyphicon-list-alt"></span> 订单查询</a>
                </li>
            </ul>
        </div>
    </nav>
<!--顶部-->
{% endblock %}

{% block body %}
<div class="container" style="padding-bottom: 200px">
    <div>
        <h2 style="text-align: center">可购买车票</h2>
    </div>
    <div>
        <table  class="table table_striped table-hover table-bordered">
            <thead>
            <tr class="danger">
                <th class="">车票编号</th>
                <th>起始站点</th>
                <th>发车时间</th>
                <th>座位余量</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr class="info">
                    <td>{{ ticket.num }}</td>
                    <td>{{ ticket.name }}</td>
                    <td>{{ ticket.date_start }}</td>
                    <td>{{ ticket.seats }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form action="{% url 'ticket_buy' %}" method="get" >
        <div class="form-group" align="center">
            <select class="form-control" style="width: 30%" name="number">
                {% for ticket in tickets %}
                    <option value="{{ ticket.num }}">{{ ticket.num }}</option>
                {% endfor %}
            </select>
        </div>
            <div align="center">
                <button class="btn btn-default btn-success" style="margin-right: 50px">购买</button>
                <a class="btn btn-default btn-success" href="{%  url 'user_home' %}">返回</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}